{
"pools" : [
	{
		"url" : "{{ eligius_url }}",
		"user" : "{{ eligius_user }}",
		"pass" : "{{ eligius_pass }}"
	}
]
,
"api-mcast-port" : "4028",
"api-port" : "4028",
"api-listen" : true,
"api-network" : true
}
